In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv("premier_league_2019.csv")

In [3]:
df

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD,teamId,ppda_cal,allowed_ppda,matchtime,tot_points,round,tot_goal,tot_con,Referee.x,HS.x,HST.x,HF.x,HC.x,HY.x,HR.x,AS.x,AST.x,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc,matchDay
0,1,h,2.234560,0.842407,2.234560,0.842407,11,5,4,1,2.3863,w,2019-08-09 20:00:00,1,0,0,3,1.392153,Liverpool,5.942857,21.454545,20,3,1,4,1,M Oliver,15,7,9,11,0,0,12,5,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
1,2,a,0.842407,2.234560,0.842407,2.234560,5,11,1,4,0.4405,l,2019-08-09 20:00:00,0,0,1,0,-1.392153,Norwich,21.454545,5.942857,20,0,1,1,4,M Oliver,15,7,9,11,0,0,12,5,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
2,3,a,3.183770,1.200300,2.422640,1.200300,9,1,5,0,2.6312,w,2019-08-10 12:30:00,1,0,0,3,1.222340,Man City,6.935484,16.400000,12,3,1,5,0,M Dean,5,3,6,1,2,0,14,9,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
3,4,h,1.200300,3.183770,1.200300,2.422640,1,9,0,5,0.2522,l,2019-08-10 12:30:00,0,0,1,0,-1.222340,West Ham,16.400000,6.935484,12,0,1,0,5,M Dean,5,3,6,1,2,0,14,9,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
4,5,h,1.340990,1.598640,1.340990,1.598640,4,6,1,1,1.0172,d,2019-08-10 15:00:00,0,1,0,1,-0.257650,Bournemouth,13.600000,9.133333,15,1,1,1,1,K Friend,13,3,10,3,2,0,8,3,19,4,1,0,1.95,3.60,3.60,0.230769,0.375000,Sat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,572,a,0.445922,2.028830,0.445922,2.028830,3,9,0,4,0.2901,l,2020-03-08 14:00:00,0,0,1,0,-1.582908,Everton,19.086957,12.714286,14,37,29,37,46,K Friend,17,11,8,6,1,0,3,1,10,1,2,0,1.80,3.90,4.20,0.647059,0.333333,Sun
572,573,a,0.585469,1.738900,0.585469,1.738900,2,3,0,2,0.3539,l,2020-03-08 16:30:00,0,0,1,0,-1.153431,Man City,6.041667,14.709677,16,57,28,68,31,M Dean,12,6,11,2,2,0,7,2,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
573,574,h,1.738900,0.585469,1.738900,0.585469,3,2,2,0,2.4269,w,2020-03-08 16:30:00,1,0,0,3,1.153431,Man Utd,14.709677,6.041667,16,45,29,44,30,M Dean,12,6,11,2,2,0,7,2,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
574,575,a,0.672448,2.412390,0.672448,1.651220,2,8,0,4,0.2673,l,2020-03-09 20:00:00,0,0,1,0,-0.978772,Aston Villa,13.217391,5.379310,20,25,28,34,56,M Oliver,15,7,15,9,2,0,4,1,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon
575,576,h,2.412390,0.672448,1.651220,0.672448,8,2,4,0,2.5950,w,2020-03-09 20:00:00,1,0,0,3,0.978772,Leicester,5.379310,13.217391,20,53,29,58,28,M Oliver,15,7,15,9,2,0,4,1,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon

In [4]:
df.columns

Index(['Unnamed: 0', 'h_a', 'xG', 'xGA', 'npxG', 'npxGA', 'deep',
       'deep_allowed', 'scored', 'missed', 'xpts', 'result', 'date', 'wins',
       'draws', 'loses', 'pts', 'npxGD', 'teamId', 'ppda_cal', 'allowed_ppda',
       'matchtime', 'tot_points', 'round', 'tot_goal', 'tot_con', 'Referee.x',
       'HS.x', 'HST.x', 'HF.x', 'HC.x', 'HY.x', 'HR.x', 'AS.x', 'AST.x',
       'AF.x', 'AC.x', 'AY.x', 'AR.x', 'B365H.x', 'B365D.x', 'B365A.x',
       'HtrgPerc', 'AtrgPerc', 'matchDay'],
      dtype='object')

In [5]:
df.isna().sum()

Unnamed: 0      0
h_a             0
xG              0
xGA             0
npxG            0
npxGA           0
deep            0
deep_allowed    0
scored          0
missed          0
xpts            0
result          0
date            0
wins            0
draws           0
loses           0
pts             0
npxGD           0
teamId          0
ppda_cal        0
allowed_ppda    0
matchtime       0
tot_points      0
round           0
tot_goal        0
tot_con         0
Referee.x       0
HS.x            0
HST.x           0
HF.x            0
HC.x            0
HY.x            0
HR.x            0
AS.x            0
AST.x           0
AF.x            0
AC.x            0
AY.x            0
AR.x            0
B365H.x         0
B365D.x         0
B365A.x         0
HtrgPerc        0
AtrgPerc        0
matchDay        0
dtype: int64

In [6]:
# Getting the most relevant columns for my anaylsis.
columns = ['date','matchDay','matchtime','round','teamId','pts','tot_points','wins',
           'draws', 'loses','scored','tot_goal','tot_con','Referee.x']

In [7]:
df_copy = df.copy()

In [8]:
df_copy = df_copy[columns]

In [9]:
df_copy.head()

,date,matchDay,matchtime,round,teamId,pts,tot_points,wins,draws,loses,scored,tot_goal,tot_con,Referee.x
0,2019-08-09 20:00:00,Fri,20,1,Liverpool,3,3,1,0,0,4,4,1,M Oliver
1,2019-08-09 20:00:00,Fri,20,1,Norwich,0,0,0,0,1,1,1,4,M Oliver
2,2019-08-10 12:30:00,Sat,12,1,Man City,3,3,1,0,0,5,5,0,M Dean
3,2019-08-10 12:30:00,Sat,12,1,West Ham,0,0,0,0,1,0,0,5,M Dean
4,2019-08-10 15:00:00,Sat,15,1,Bournemouth,1,1,0,1,0,1,1,1,K Friend

In [10]:
#Splitting the date format into date and time seperately and assigning them to a new columns.
df_copy['Date'] = pd.to_datetime(df_copy['date']).dt.date
df_copy['Match_time'] = pd.to_datetime(df_copy['date']).dt.time

In [11]:
df_copy.drop(["date","matchtime",], axis = 1, inplace = True)

In [12]:
df_copy.head()

,matchDay,round,teamId,pts,tot_points,wins,draws,loses,scored,tot_goal,tot_con,Referee.x,Date,Match_time
0,Fri,1,Liverpool,3,3,1,0,0,4,4,1,M Oliver,2019-08-09,20:00:00
1,Fri,1,Norwich,0,0,0,0,1,1,1,4,M Oliver,2019-08-09,20:00:00
2,Sat,1,Man City,3,3,1,0,0,5,5,0,M Dean,2019-08-10,12:30:00
3,Sat,1,West Ham,0,0,0,0,1,0,0,5,M Dean,2019-08-10,12:30:00
4,Sat,1,Bournemouth,1,1,0,1,0,1,1,1,K Friend,2019-08-10,15:00:00

In [14]:
#Renaming the columns names to a suitable one 
df_copy.rename(columns = {"matchDay": "Match_day",
             "round": "Round",
             "teamId": "Teams",
              "pts": "Points",
              "tot_points": "Total_points",
              "wins": "Wins","loses": "Loses",
              "tot_goal": "Total_goals",
              "tot_con": "Total_conceeded",
              "Referee.x": "Referees",
              "draws": "Draws","scored": "Goals_scored"},inplace = True)

In [15]:
df_copy.head()

,Match_day,Round,Teams,Points,Total_points,Wins,Draws,Loses,Goals_scored,Total_goals,Total_conceeded,Referees,Date,Match_time
0,Fri,1,Liverpool,3,3,1,0,0,4,4,1,M Oliver,2019-08-09,20:00:00
1,Fri,1,Norwich,0,0,0,0,1,1,1,4,M Oliver,2019-08-09,20:00:00
2,Sat,1,Man City,3,3,1,0,0,5,5,0,M Dean,2019-08-10,12:30:00
3,Sat,1,West Ham,0,0,0,0,1,0,0,5,M Dean,2019-08-10,12:30:00
4,Sat,1,Bournemouth,1,1,0,1,0,1,1,1,K Friend,2019-08-10,15:00:00

In [18]:
# Re-arranging the columns 
re_arrange = ['Date','Match_day', 'Match_time', 'Round','Teams', 'Points', 'Total_points', 'Wins',
       'Draws', 'Loses', 'Goals_scored', 'Total_goals', 'Total_conceeded',
       'Referees']
df_copy = df_copy[re_arrange]

In [19]:
df_copy.head()

,Date,Match_day,Match_time,Round,Teams,Points,Total_points,Wins,Draws,Loses,Goals_scored,Total_goals,Total_conceeded,Referees
0,2019-08-09,Fri,20:00:00,1,Liverpool,3,3,1,0,0,4,4,1,M Oliver
1,2019-08-09,Fri,20:00:00,1,Norwich,0,0,0,0,1,1,1,4,M Oliver
2,2019-08-10,Sat,12:30:00,1,Man City,3,3,1,0,0,5,5,0,M Dean
3,2019-08-10,Sat,12:30:00,1,West Ham,0,0,0,0,1,0,0,5,M Dean
4,2019-08-10,Sat,15:00:00,1,Bournemouth,1,1,0,1,0,1,1,1,K Friend

In [20]:
df_copy.to_csv("Premier_league_2019-2020.csv")